@using EPiServer.OicExample
@model EPiServer.OicExample.Models.ViewModels.PageViewModel<EPiServer.OicExample.Models.Pages.LandingPage>
<div class="campaign-wrapper">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
</div>
